.card{
    display: flex;
    border: 2px solid grey;
    width: 1000px;
    justify-content: center;
    align-items: center;
    padding: 3px;
    margin: 3px;
}


.image img{
    width: 200px;
}

.text h1, p{
    padding: 2px 0;
}

.image{
    position: relative;
}

.capsule{
    position: absolute;
    bottom: 4px;
    z-index: 10;
    right: 0;
    background-color: #242020;
    color: white;
    padding: 3px;
    border-radius: 3px;
    font-size: 11px;
}